<!-- 
//---
//--- Author: Patricia Dumontier
//--- Date Written: May 09, 2015
//--- Class: OOSD-Apr2015 Object Orient Software Design
//--- 
//--- Modified By: <developer's name>
//--- Date Modified: May 00, 2015
//--- Reason for Modification:
//--- 
-->

.voffset2  { margin-top: 2px; }
.voffset5 { margin-top: 5px; }
.voffset10 { margin-top: 10px; }
.voffset15 { margin-top: 15px; }
.voffset30 { margin-top: 30px; }
.voffset40 { margin-top: 40px; }
.voffset60 { margin-top: 60px; }
.voffset80 { margin-top: 80px; }
.voffset100 { margin-top: 100px; }
.voffset150 { margin-top: 150px; }

.logo {
	width:258px;
}
#head .tagline {
	font-size:54px;
	} 
.logo-dpack
{
  width: 100px;
}
/*=========================
  HOVER EFFECT - PEOPLE
  http://bootsnipp.com/snippets/featured/thumbnail-caption-hover-effect
 ================= */


.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

/*=========================
  SOCIAL MEDIA
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoRss:hover {
	background-color: #F56505;
}
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoVimeo:hover {
	background-color:#0590B8;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 50px;
	height: 50px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/*
a {
 background-color: #D3D3D3;   
}
*/
/**
  CUSTOMER QUOTES
*/

/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/*=========================
  CONTACT - MAP
 ================= */
 .ouraddress
 {
	font-size: 18px;
 }
      #map-canvas {
        width: 500px;
        height: 400px;
		left: 10px;
	  }
	.header {
        background-color: #F5F5F5;
        color: #36A0FF;
        height: 70px;
        font-size: 27px;
        padding: 10px;
		}

 
.thumbnail 
{
    position:relative;
    overflow:hidden;
}
 
.caption 
{
    position:absolute;
    top:0;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
	s
}

/*=========================
  CONTACT - AGENTS
 ================= */
.thumbnail
{
	border: none;
}
.thumbnail .caption h4
{
	font-size: 1.5em;
	font-weight:bold;
}
.thumbnail img
{
	background-color: gray;
	border: 2px;
	width: 70%;
}

/*=========================
  REGISTRATION
 ================= */

 .radio-inline img
{
	width: 50px;
}
 
   .tooltip
   {
		position:absolute; 
		top:45em; 
		left:20em; 
		visibility:hidden;
	}
/* this style is for the mouseover and display information about the travel experts' class. 
After test it is work on firefox, but can not display on chrome and IE. */

/*=========================
  PACKAGES
 ================= */

.flexslider .slides img 
{
width: 100%; 
height:500px;
display: block; 
}
.flexslider .slides .slider-btn 
{
    background-color: #FF8C00;
}
.flex-caption
{
background-color: white;
opacity: 0.8;
}

.flex-caption .visible-lg
{
    background-color: white;
	color: black;
}
.flex-caption  p
{
	font-weight: bold;
	color: black;
}

.img-padding
{
background-color: black;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
padding-bottom: 10px;
margin-left: 10px;
margin-right: 10px;
margin-top: 0px;
margin-bottom: 40px;
}

.panel-heading 
{
	background-color: #FF8C00!important;
	color: white!important;
	padding-left: 50px;
}
.panel-title
{
	font-size: 2.5em;
}

.list-item .list-thumb .list-content{
    background-color: #FF8C00;
}
.list-item .list-content a.price-btn {
    background-color: #FF8C00;
}
.list-item .list-content a.price-btn 
{
    background-color: #FF8C00;
}
.list-item .list-thumb .title 
{
    background-color: #FF8C00;
}
.list-item .list-content h5 {
    color: #FF8C00;
}
.list-item .list-content span {
    color: black;
}
.owl-next,.owl-prev 
{
    background-color: #FF8C00;
}


/*=========================
  BOOKING FORM
 ================= */
.booking-form{
	padding: 0 0 2em 0;
}
.booking_room h4{
	font-size: 1.5em;
	color: #202020;
	text-transform: capitalize;
	font-weight: 600;
	margin-bottom: 10px;
}
.booking_room p{
	font-size: 0.8725em;
	color: #6b6b6b;
	line-height: 1.8em;
}
.reservation{
	padding: 16px 10px 32px 0;
	background: rgba(255, 255, 255, 0.27);
}
.reservation ul {
	padding: 0;
	margin: 0;
}
.reservation ul li{
	float: left;
	list-style:none;
}
.reservation ul li.left{
	margin-left: 15px;
}
.reservation ul li.span1_of_1{
	width: 24.33333%;
	margin-left: 5.5em;
}
.reservation ul li.span1_of_2{
	width: 9.33333%;
}
.reservation ul li.span1_of_3{
	width: 13.33333%;
	margin-left: 5.5em;
}
.reservation h5{
	font-size: 18px;
	color: #FFF;
	text-transform: capitalize;
	margin: 8px 0;
}
select {
	width: 100%;
	color: #9F9F9F!important;
	font-size: 14px!important;
	padding: 8px 10px;
	outline: none;
	cursor: pointer;
	font-family: 'Open Sans', sans-serif;
	background: #ffffff;
	border: 1px solid #DFDFDF;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
select option{
	border: 1px solid #DFDFDF;
	outline: none;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.book_date input[type="text"]{
	width: 100% !important;
	color: #9F9F9F;
	font-size: 14px;
	padding: 8px 23px 8px 27px;
	outline: none;
	border: none;
	-webkit-appearance: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
.date{
	background:url(../images/date_icon.png) no-repeat 3% 50% #FFF;
}
.date_btn{
	  margin: 2.3em 0 0 0;
}
.date_btn form input[type="submit"] {
	text-transform:capitalize;
	width: 90% !important;
	background: #0199e6;
	border: 1px solid #0199e6;
	color: #FFF;
	padding: 8px 10px;
	font-size: 16px;
	outline: none;
	font-weight:600;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
}
.date_btn form input[type="submit"]:hover{
	  background: rgba(0, 204, 255, 0);
	  border: 1px solid #0199e6;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
}

/*=========================
  CORNER RIBBON
 ================= */

.wrapper {
  margin: 50px auto;
  width: 280px;
  height: 370px;
  background: rgb(255,255,255);
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1)));
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 );
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0,0,0,0.6);
  -moz-box-shadow:    0px 0px 8px rgba(0,0,0,0.6);
  box-shadow:         0px 0px 8px rgba(0,0,0,0.6);
  position: relative;
  z-index: 90;
}
 
 .wrapper p {padding:10px 0 0 20px;font-size:0.85em;color:#aaa;}

.ribbon-wrapper {
  width: 85px;
  height: 88px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon-blue {  
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  letter-spacing:1px;
  text-shadow:1px -1px 3px rgba(0,0,0,0.5) ;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background: rgb(167,207,223);
  background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1)));
  background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  background: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  background: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  background: linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-red {  
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  letter-spacing:1px;
  text-shadow:1px -1px 3px rgba(0,0,0,0.5) ;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background: rgb(223,30,30);
  background: -moz-linear-gradient(top, rgba(223,30,30,1) 0%, rgba(138,30,35,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(223,30,30,1)), color-stop(100%,rgba(35,83,138,1)));
  background: -webkit-linear-gradient(top, rgba(223,30,30,1) 0%,rgba(138,30,35,1) 100%);
  background: -o-linear-gradient(top, rgba(223,30,30,1) 0%,rgba(138,30,35,1) 100%);
  background: -ms-linear-gradient(top, rgba(223,30,30,1) 0%,rgba(138,30,35,1) 100%);
  background: linear-gradient(top, rgba(223,30,30,1) 0%,rgba(138,30,35,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}
.ribbon-green {  
  font: bold 15px Sans-Serif;
  color: #fff;
  text-align: center;
  letter-spacing:1px;
  text-shadow:1px -1px 3px rgba(0,0,0,0.5) ;
  -webkit-transform: rotate(45deg);
  -moz-transform:    rotate(45deg);
  -ms-transform:     rotate(45deg);
  -o-transform:      rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -5px;
  top: 15px;
  width: 120px;
  background: rgb(30,207,30);
  background: -moz-linear-gradient(top, rgba(30,207,30,1) 0%, rgba(30,90,30,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,207,30,1)), color-stop(100%,rgba(35,83,138,1)));
  background: -webkit-linear-gradient(top, rgba(30,207,30,1) 0%,rgba(35,90,30,1) 100%);
  background: -o-linear-gradient(top, rgba(30,207,30,1) 0%,rgba(35,90,30,1) 100%);
  background: -ms-linear-gradient(top, rgba(30,207,30,1) 0%,rgba(35,90,30,1) 100%);
  background: linear-gradient(top, rgba(30,207,30,1) 0%,rgba(35,90,30,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top:   3px solid #23538a;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}
.ribbon:before {left: 0;}
.ribbon:after {right: 0;}

/*=========================
  QUOTES - TESTIMONIALS
 ================= */
.box-grids{
margin-top:6%;
}
.box-grid{
position:relative;
background:#f7f8fa;
padding:2em;
border-radius:5px;
border-bottom:2px solid #D1D1D1;
}
.box-grid p{
color: #8e8e8e;
text-align:center;
  font-weight: 400;
  font-style:italic;
  font-size: 1em;
  line-height: 1.5em;
}
.box-grid span{
background:url(../images/box.png) no-repeat 0px 0px;
position:absolute;
top: -25px;
  left: 43%;
  display: block;
  width: 40px;
  height: 40px;
}
.box-grid label{
background:url(../images/dwn.png) no-repeat 0px 0px;
position:absolute;
bottom: -26px;
  left: 43%;
  display: block;
  width: 32px;
  height: 21px;
}
.trusted{
  padding: 0% 0 3%;
}
.trusted-text h3{
color:#393939;
font-size:2.5em;
font-family: 'Raleway', sans-serif;
background:url(../images/line.png) no-repeat 50% 100%;
padding-bottom:0.5em;
margin-bottom:10px;
font-weight:500;
}
.trusted-text p{
color: #8e8e8e;
  font-weight: 400;
  font-size: 1.2em;
  line-height: 1.5em;
}
.client h4{
font-size:1.2em;
text-align:center;
margin:2em 0 0.5em 0;
font-weight:600;
}
.client h4 a{
display:inline-block;
color:#FF8C00;
}
p.ceo{
text-align:center;
color:#bdbdbd;
font-weight:400;
font-size:1em;
}
